<form [formGroup]="additionsAndDeductionsLookupExpandingDialogFormGroup">
  <div class="lookup-container mat-elevation-z8">

    <div class="filterBar"
      [formGroup]="additionsAndDeductionsLookupExpandingDialogFormGroup">
      <input formControlName="codeFC" type="text" placeholder="Enter code"/>
      &nbsp;
      <button (click)="clearAll()">X</button>
    </div>

    <mat-table #table [dataSource]="dataSource">

      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef class="tableHeader"  style="flex-grow: 1; padding-left: 5px;"> Code </mat-header-cell>
        <mat-cell *matCellDef="let element" class="my-mat-cell" style="flex-grow: 1; padding-left: 5px;"> {{element.code}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="tableHeader" style="flex-grow: 8; padding-left: 55px;"> Name </mat-header-cell>
        <mat-cell *matCellDef="let element" class="my-mat-cell" style="flex-grow: 8; padding-left: 55px;"> {{element.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns sticky: true" class="my-mat-row"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="my-mat-cell" (click)="setAdditionalCodeValue.emit(row)">
      </mat-row>
    </mat-table>
    <mat-dialog-actions>
      <button mat-button color="primary" (click)="closeLookup.emit(false)" style="float: right; margin-bottom: 10px;">Cancel</button>
    </mat-dialog-actions>
  </div>
</form>
