.sectionHeader {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #673AB7
}

.flex-container {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  text-align: right;
  margin-top: 10px;
  flex-wrap: wrap;
}

.mat-option-popout{
  font-weight: bold;
}

.transportInfoFlexItem {
  flex-grow: 5;
 // border-radius: 7px;
}

.valueBuildUpFlexitem {
  flex-grow: 1;
//  border-radius: 7px;
  margin-left: 2.5px;

}

.otherAdditionsDeductionsFlexItem {
  flex-grow: 5;
  margin-bottom: 15px;
  margin-right: 3px;
}

.additionAndDeductionsGrid {
  margin-right: 3px;
  border: black 1px solid;
  width: 736px;
}

.partyExpansionPanel {
  width: 570px;
  margin: 5px;
}

.partyLabelTitle {
  font-weight: bold;
}

.shortCodeLabel {
  margin-left: 10px;
}

.shortCodeInput {
  margin-top: 1px;
  margin-left: 3px;
  width: 80px;
  border: 1px gray solid;
}

.nameLabel {
  margin-left: 10px;
}

.nameInput {
  margin-top: 1px;
  margin-left: 3px;
  width: 150px;
  border: 1px gray solid;
}

