.flex-container {
  display: flex;
  flex-direction: row;
 // justify-content: space-between;
  text-align: right;
  margin-top: 10px;
  flex-wrap: wrap;
}

.transportInfoFlexItem {
  flex-grow: 1;
  border-radius: 7px;
}

.valueBuildUpFlexitem {
  flex-grow: 1;
  border-radius: 7px;
  margin-left: 2.5px;

}

.partyExpansionPanel{
  width: 570px;
  margin: 5px;
}

.partyLabelTitle {
  font-weight: bold;
  }

  .shortCodeLabel {
    margin-left: 10px;
  }

  .shortCodeInput {
    margin-top: 1px;
    margin-left: 3px;
    width: 80px;
  }

  .nameLabel {
    margin-left: 10px;
  }

  .nameInput {
    margin-top: 1px;
    margin-left: 3px;
    width: 150px;
  }
