.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

.transportInfoFlexItem {
  flex-grow: 1;
}

.valueBuildUpFlexitem {
  flex-grow: 1;
}
