<table style="height: 212px; width: 712px; float: right; border: 1px black solid;">
  <tbody>
  <tr>
  <th style="text-align: center; width: 711px;" colspan="6">Value Build-up/ Additions and Deductions</th>
  </tr>
  <tr>
  <td style="width: 150px; text-align: right;">Apportioned By [64]:</td>
  <td style="width: 190px;"><input style="float: left; width: 100%;" type="text" /></td>
  <td style="width: 62px;">&nbsp;</td>
  <td style="width: 181px;">&nbsp;</td>
  <td style="width: 22px;">&nbsp;</td>
  <td style="width: 106px;">&nbsp;</td>
  </tr>
  <tr>
  <td style="width: 150px; text-align: right;">Airport of Loading [61]:</td>
  <td style="width: 190px;"><input style="float: left; width: 100%;" type="text" /></td>
  <td style="width: 62px; text-align: center;">Curr</td>
  <td style="width: 181px; text-align: right; padding-right: 5px;">Amount</td>
  <td style="width: 22px; text-align: right; padding-right: 5px;">&nbsp;</td>
  <td style="width: 106px; text-align: right; padding-right: 5px;">Code</td>
  </tr>
  <tr>
  <td style="width: 150px; text-align: right;">&nbsp;</td>
  <td style="width: 190px; text-align: right;">Air Transport Costs [62]</td>
  <td style="width: 62px; text-align: center;">&nbsp;</td>
  <td style="width: 181px; text-align: right;"><input style="float: right;" type="text" /></td>
  <td style="width: 22px; text-align: right;">&nbsp;</td>
  <td style="width: 106px; text-align: right;"><input style="float: right; width: 100%; background-color: lightgray;" readonly="readonly" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 150px; text-align: right;">&nbsp;</td>
  <td style="width: 190px; text-align: right;">Total Freight Charges [63]:</td>
  <td style="width: 62px; text-align: center;"><input style="width: 95%;" type="text" /></td>
  <td style="width: 181px; text-align: right;"><input style="float: right;" type="text" /></td>
  <td style="width: 22px; text-align: right;">&nbsp;</td>
  <td style="width: 106px; text-align: right;">&nbsp;</td>
  </tr>
  <tr>
  <td style="width: 340px; text-align: right;" colspan="2">Trpt costs, loading and handling chgs</td>
  <td style="width: 62px; text-align: center;"><input style="width: 95%; background-color: lightgray;" readonly="readonly" type="text" /></td>
  <td style="width: 181px; text-align: center;"><input style="float: right; background-color: lightgray;" readonly="readonly" type="text" /></td>
  <td style="width: 22px; text-align: right;">&nbsp;</td>
  <td style="width: 106px; text-align: right;"><input style="float: right; background-color: lightgray; width: 100%;" readonly="readonly" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 340px; text-align: right;" colspan="2">Allowable Discount Amount [65]</td>
  <td style="width: 62px; text-align: center;"><input style="width: 95%;" type="text" /></td>
  <td style="width: 181px; text-align: center;"><input style="float: right;" type="text" /></td>
  <td style="width: 22px; text-align: right;">&nbsp;</td>
  <td style="width: 106px; text-align: right;"><input style="float: right; background-color: lightgray; width: 100%;" readonly="readonly" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 340px; text-align: right;" colspan="2">Allowable Discount Amount [65]</td>
  <td style="width: 62px; text-align: center;">&nbsp;</td>
  <td style="width: 181px; text-align: center;"><input style="float: right;" type="text" /></td>
  <td style="width: 22px; text-align: center;">%</td>
  <td style="width: 106px; text-align: right;"><input style="float: right; background-color: lightgray; width: 100%;" readonly="readonly" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 340px; text-align: right;" colspan="2">Insurance [66]</td>
  <td style="width: 62px; text-align: center;"><input style="width: 95%;" type="text" /></td>
  <td style="width: 181px; text-align: center;"><input style="float: right;" type="text" /></td>
  <td style="width: 22px; text-align: center;">&nbsp;</td>
  <td style="width: 106px; text-align: right;"><input style="float: right; background-color: lightgray; width: 100%;" readonly="readonly" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 340px; text-align: right;" colspan="2">Other Charges / Deductions [67]</td>
  <td style="width: 62px; text-align: center;"><input style="width: 95%;" type="text" /></td>
  <td style="width: 181px; text-align: center;"><input style="float: right;" type="text" /></td>
  <td style="width: 22px; text-align: center;">&nbsp;</td>
  <td style="width: 106px; text-align: right;"><input style="float: right; background-color: lightgray; width: 100%;" readonly="readonly" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 340px; text-align: right;" colspan="2">Adjustment for VAT Value [68]</td>
  <td style="width: 62px; text-align: center;"><input style="width: 95%;" type="text" /></td>
  <td style="width: 181px; text-align: center;"><input style="float: right;" type="text" /></td>
  <td style="width: 22px; text-align: center;">&nbsp;</td>
  <td style="width: 106px; text-align: right;"><input style="float: right; background-color: lightgray; width: 100%;" readonly="readonly" type="text" /></td>
  </tr>
  </tbody>
  </table>
