
.flex-container {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  text-align: right;
  margin-top: 10px;
  flex-wrap: wrap;
}


tr.spaceUnder>td {
  padding-bottom: 5px;
}


.filterInput {
  width: 100px;
  height: 15px;
  border: 1px gray solid;
}

.form {
  border: 1px gray solid;
  width: 97%;
  border-radius: 5px;
  text-align: left;

}
