<table style="width: 100%;">
  <tbody>
  <tr>
  <td style="width: 14.7425%; text-align: right;"><label>Street1:</label></td>
  <td style="width: 86.2575%;" colspan="3"><input style="width: 100%;" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 14.7425%; text-align: right;"><label>City:</label></td>
  <td style="width: 86.2575%;" colspan="3"><input style="width: 100%;" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 14.7425%; text-align: right;"><label>State:</label></td>
  <td style="width: 86.2575%;" colspan="3"><input style="width: 100%;" type="text" /></td>
  </tr>
  <tr>
  <td style="width: 14.7425%; text-align: right;"><label>Post Code:</label></td>
  <td style="width: 46.2575%;"><input style="width: 100%;" type="text" /></td>
  <td style="width: 26%; text-align: right;">Country Code:</td>
  <td style="width: 14%; text-align: right;"><input style="width: 100%;" type="text" /></td>
  </tr>
  </tbody>
  </table>
