/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body
{
margin: 5px;
}

h4 {
  display: block;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: black;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

/* mat-panel-title{
  font-weight: bold;
} */

