.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

.flex-container > label {
  flex-grow: 1;
  margin-right: 5px;
  font-weight: bold;
}


