<form>
    <div class="flex-container" style="width: 45%; border: green 2px solid;">
        <mat-form-field style="width: 100%; ">
            <label for="traderRef">Declaration Type [01]: </label>
            <input matInput [matAutocomplete]="auto" [formControl]="typeCtrl" class="delcarationTypeInput">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let type of declarationTypes$ | async" [value]="type.value | declarationtypetrimmer" class="dropdownpPopUp">
                {{type.value}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div>
      <div class="flex-container" style="width: 45%; border: green 2px solid;">
          <mat-form-field style="width: 113px; padding-left: 3px; padding-right: 3px;">
              <label for="traderRef">Badge: </label>
              <input matInput [matAutocomplete]="auto" [formControl]="typeCtrl" class="delcarationTypeInput">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let type of declarationTypes$ | async" [value]="type.value | declarationtypetrimmer" class="dropdownpPopUp">
                  {{type.value}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field style="width: 280px; padding-left: 3px; padding-right: 3px;">
                <label for="traderRef">Trader Ref. [07]: </label>
                <input matInput class="traderRefInput">
              </mat-form-field>
              <mat-form-field style=" width: 280px; padding-left: 3px; padding-right: 3px;">
                  <label for="picker">Acct. Date [07]: </label>
                  <input matInput [matDatepicker]="picker" class="accptDateInput">
                  <mat-datepicker-toggle matSuffix [for]="picker" style="float: left;"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
        </div>
</form>
