<div class="flex-container" style="width: 1000px;">
  <div class="flex-container">
    <label  for="type"> Decln Type[01]: </label>
    <input style="flex-grow: 0.5; width: 30px;" name="type">
  </div>
  <div class="flex-container">
      <label  for="traderRef"> Trader Reference[07]: </label>
      <input style="flex-grow: 3" name="traderRef">
  </div>
  <div  class="flex-container">
      <label for="badge" class="badgeLabel"> Badge: </label>
      <input style="flex-grow: 0.5; width: 30px;" name="badge">
  </div>

  <div class="flex-container" >
      <label for="date" class="AcceptanceLabel">Acceptance Date:</label>
  <input type="date" name="date">
  </div>
</div>
