table.unstyledTable {
  width: 735px;
  margin-top: 0px;
}
table.unstyledTable td, table.unstyledTable th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

table.unstyledTable thead {
  background: #DDDDDD;
}
table.unstyledTable thead th {
  font-weight: normal;
}
table.unstyledTable tfoot {
  font-weight: bold;
}

.grandParent {
  position: relative;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: -10px;
  width: 450px;
}

.code {
  min-width: 40px;
  max-width: 40px;
  width: 40px;
}
