input {
  text-align: left;
  border: black 1px solid;
  width: 50px;
  height: 20px;
}

.table-container {
  width: 100%;
}

.grandParent {
  position: relative;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: -18px;
  left: 0px;
  width: 450px;
}

.code {
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  height: 20px;
  border: black 1px solid;
}
