<table style="height: 261px; width: 736px; border: 1px solid black; border-radius: 7px;">
  <tbody>
  <tr style="height: 32px;">
  <td style="width: 322px; height: 32px; text-align: right;">Total Packages [06]</td>
  <td style="width: 114px; height: 32px;"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="width: 16px; height: 32px; text-align: right;">&nbsp;</td>
  <td style="width: 329px; height: 32px; text-align: right;">Repr.Status [14]</td>
  <td style="width: 175px; height: 32px;"><input style="float: left; width: 100%;" type="text" /></td>
  <td style="width: 12px; height: 32px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px; text-align: right;">Dispatch Country [15a]</td>
  <td style="width: 114px; height: 26px;"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="width: 16px; height: 26px; text-align: right;">&nbsp;</td>
  <td style="width: 329px; height: 26px; text-align: right;">Destination Country [17a]</td>
  <td style="width: 175px; height: 26px;"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px; text-align: right;">Arrival Transport Type [18]</td>
  <td style="width: 114px; height: 26px;"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="text-align: right; width: 16px;">ID</td>
  <td style="width: 504px; height: 26px;" colspan="2"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px;">Border transport Ctry [21]</td>
  <td style="width: 114px; height: 26px;"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="width: 16px; height: 26px;">&nbsp;</td>
  <td style="width: 329px; height: 26px;">&nbsp;</td>
  <td style="width: 175px; height: 26px;">&nbsp;</td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px;">Border transport Mode [25]</td>
  <td style="width: 114px; height: 26px;"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="width: 16px; height: 26px;">&nbsp;</td>
  <td style="width: 329px; height: 26px;">&nbsp;</td>
  <td style="width: 175px; height: 26px;">&nbsp;</td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px;">Delivery Terms [20]</td>
  <td style="width: 114px; height: 26px;"><input style="width: 100%; float: left;" type="text" /></td>
  <td style="width: 16px; height: 26px;">UN/LOCODE</td>
  <td style="width: 329px; height: 26px; text-align: left;"><input style="width: 50%; float: center;" type="text" /> OR</td>
  <td style="width: 175px; height: 26px;">&nbsp;</td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px;">&nbsp;</td>
  <td style="width: 130px; height: 26px;" colspan="2">Ctry &amp; Location</td>
  <td style="width: 329px; height: 26px;" colspan="2"><input style="float: left; width:100%" type="text" /></td>


  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px;">&nbsp;</td>
  <td style="width: 114px; height: 26px;">&nbsp;</td>
  <td style="width: 16px; height: 26px;">&nbsp;</td>
  <td style="width: 329px; height: 26px;">&nbsp;</td>
  <td style="width: 175px; height: 26px;">&nbsp;</td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px;">&nbsp;</td>
  <td style="width: 114px; height: 26px;">&nbsp;</td>
  <td style="width: 16px; height: 26px;">&nbsp;</td>
  <td style="width: 329px; height: 26px;">&nbsp;</td>
  <td style="width: 175px; height: 26px;">&nbsp;</td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  <tr style="height: 26px;">
  <td style="width: 322px; height: 26px;">&nbsp;</td>
  <td style="width: 114px; height: 26px;">&nbsp;</td>
  <td style="width: 16px; height: 26px;">&nbsp;</td>
  <td style="width: 329px; height: 26px;">&nbsp;</td>
  <td style="width: 175px; height: 26px;">&nbsp;</td>
  <td style="width: 12px; height: 26px;">&nbsp;</td>
  </tr>
  </tbody>
  </table>
